<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sharewardrobeapp">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShareWardrobeApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".consultations.ConsultationsDetailsActivity"
            android:exported="false"
            android:parentActivityName=".ConsultActivity"/>
        <activity
            android:name=".SignInActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".fashionitems.FashionItemDetailActivity"
            android:exported="false"
            android:parentActivityName=".FashionItemsActivity" />
        <activity
            android:name=".outfits.OutfitDetailActivity"
            android:exported="false"
            android:parentActivityName=".OutfitsActivity" />
        <activity
            android:name=".signin.UserInfoActivity"
            android:exported="false"
            android:parentActivityName=".SignInActivity" />
        <activity
            android:name=".ConsultActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PlannerActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StatsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OutfitsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FashionItemsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>